/* Error: expected "{".
 *   ,
 * 6 |             font-size: 2em;
 *   |                           ^
 *   '
 *   scss\_section.scss 6:27  @import
 *   scss\style.scss 4:9      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a   \2577 \a 6 \2502              font-size: 2em;\d\a   \2502                            ^\a   \2575 \a   scss\\_section.scss 6:27  @import\a   scss\\style.scss 4:9      root stylesheet';
}
