@media (min-width: 780px){
/* ----------------------------------------------------------------------------------------      Contactanos  ------------------------------------------------------ */
        footer.footer__From--MargenTop70{
                margin-top: $mt-70;
        }  
}

//////////////////////////////////view mobie/////////////
@media(max-width: 780px){
        footer{
                div.footer__RedesSociales--Margen{
                        margin: $m-10;
                }         
        }
        footer.footer__From--MargenTop70{
                margin-top: $mt-70;
        }     
}
