@media(min-width: 780px){
      /* ----------------------------------------------------------------------------------------      pagina index  ------------------------------------------------------ */
      header {
             
                div.header__CardLogo--ColorFondo{
                    height: 100vh;
                    background-image: url("../img/carpint.jpg");
                    background-size: cover;
                }
                div.header__CardLogo--Title{
                    background: $headerColorLogo;
                    margin-top: 2%;
                    margin-left: 7%;
                    width: 100px;
                    height: 150px;
                    border-radius: $br-03;
                }
                div.header__CardLogo--Title{
                    span{
                        font-size: $fontLogoTitle;
                        height: 60px;
                        width: 80px;
                        color: $font-ColorTitle;
                        font-family: $font-FamilyLogoTitle;
                    }
                }
                div.header__CardLogo--SubTitle{
                    width: 100px;
                    height: 150px;
                    margin-top: 2%;
                    margin-left: 2%;
                    color: $font-ColorSubTitle;
                    font-family: $font-FamilyLogoSubtitle;
                }
      } 
}
////////////////////////////////HEADER MOBIE////////////////////
@media(max-width: 780px){
       /* ----------------------------------------------------------------------------------------      pagina index------------------------------------------------------ */
     div.marcas__Img--Size{
        height: 150px !important;
    } 
     header{
        div.header__CardLogo--Title{
            background: linear-gradient(to right, #8B866f, #FCD9B8);
            margin-top: 2%;
            margin-left: 7%;
            width: 100px;
            height: 150px;
            border-radius: $br-03;
        }
        div.header__CardLogo--Title{
            span{
                font-size: $fz-3em;
                height: 60px;
                width: 80px;
                color: $color-span--title;
                font-family: $font-FamilyLogoTitle;
            }
        }
        div.header__CardLogo--SubTitle{
            width: 100px;
            height: 150px;
            margin-top: 2%;
            margin-left: 2%;
            color: #055160;
            font-family: $font-FamilyLogoSubtitle;
        }
     } 
}