@media(min-width: 780px){
      /* --------------------------------------------------      Logo para (index-ubicacion-galeria-contractanos-quienesSomos)  ------------------------------------------------------ */
      header {
             
                div.header__CardLogo--ColorFondo{
                    height: 100vh;
                    background-image: url("../img/carpint.jpg");
                    background-size: cover;
                }
                div.header__CardLogo--Title{
                    background: $headerColorLogo;
                    margin-top: 2%;
                    margin-left: 7%;
                    width: 100px;
                    height: 150px;
                    border-radius: 0.3em;
                }
                div.header__CardLogo--Title{
                    span{
                        font-size: $fontLogoTitle;
                        height: 60px;
                        width: 80px;
                        color: $font-ColorTitle;
                        font-family: $font-FamilyLogoTitle;
                    }
                }
                div.header__CardLogo--SubTitle{
                    width: 100px;
                    height: 150px;
                    margin-top: 2%;
                    margin-left: 2%;
                    color: $font-ColorSubTitle;
                    font-family: $font-FamilyLogoSubtitle;
                }
      } 
}