@media (min-width: 780px) {
    section{
        span{
            font-family: $font-FamilyLogoSubtitle;
            font-size: 2em;
            margin-top: 8%;
            color: rgb(185, 179, 179);
        }
         div{
            iframe{
                border-radius: .8em;
            }
         }
        div{
            i{
                font-size: 2em;
                color: white;
            }
        }
        div.contactanos__AlinearItem--JustifyContentEnd{
            justify-content: end;
        }
        div.contactanos__AlinearItem--JustifyContentCenter{
            justify-content: center;
        }
        div.contactanos__AlinearItem--JustifyContentStart{
            justify-content: start;
        }
        div.section__CardDirecciones--MargenTop{
            margin-top: 120px;
        }
        div{
            i.section__CardDirecciones--MargenTop{
                margin-top: 120px;
            }
        }
        div.section__CardImg--MargenTop{
            margin-top: 80px;
        }
        div{
            img.section__CardImg--ocontaint{
                object-fit: cover !important;
            }
        }
    } 
}
@media(max-width: 780px){
    section{
        span{
            font-family: 'Lobster', cursive;
            font-size: 2em;
            margin-top: 8%;
            color: rgb(185, 179, 179);
        }
        div{
            iframe{
                border-radius: .8em;
            }
        }
        div{
            i{
                font-size: 1.5em;
                color: white;
            }
        } 
        .contactanos__AlinearItem--JustifyContentStartMobie{
            justify-content: start !important;
        }
        .section__CardDirecciones--MargenTop{
            margin-top: 30px;
        }
        div.section__CardImg--MargenTopMobie{
            margin-top: 30px;
        }
        div.contactanos__AlinearItem--JustifyContentCenterMobie{
            justify-content: center;
        }
    }    
}
    