@media (min-width: 780px) {
    /* ----------------------------------------------------------------------------------------      pagina index  ------------------------------------------------------ */
    section{
        span{
            font-family: 'Lobster', cursive;
            font-size: 2em;
            margin-top: 8%;
            color: rgb(185, 179, 179);
        }
    } 
     /* ----------------------------------------------------------------------------------------      pagina ubicacion  ------------------------------------------------------ */
     section{
         div{
            iframe{
                border-radius: .8em;
            }
         }
     } 
}
    