//variables Colores
$bg-FondoSecundario : linear-gradient(to right, #b0aa9a, #000);
$navColor : linear-gradient(to right, #f8f7f4, #f8f9fa);
$itemColor : #f8f7f4;
$headerColorLogo : linear-gradient(to right, #8B866f, #FCD9B8);


//variables Font
$fontLogoTitle  : 3em;
$font-FamilyLogoSubtitle : 'Lobster', cursive;
$font-FamilyLogoTitle: 'Baskervville', serif;
$font-ColorTitle:  rgb(17, 15, 15);
$font-ColorSubTitle: #055160;